<h2>
    Observação:<br>
    As indicações de comandos a serem executados no terminal consideram que o diretório corrente é o que contém os recursos do cluster Docker, incluindo o arquivo docker-compose.yml.
</h2>

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Reiniciar/Remover recursos relacionados ao cluster Docker:
</h2>
<font size=3>
    <ol>
        <li>docker image ls</li><br>
        <li>docker compose down</li>
        <li>docker volume prune</li>
        <li>docker system prune --all</li>
        <li>docker image ls</li><br>
        <li>sudo sysctl -w vm.max_map_count=65536</li>
    </ol>
</font>

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Reiniciar/Criar e listar recursos do cluster Docker para atividades do projeto:<br>
    &emsp; Após a execução o resultado na tela deve ser equivalente ao conteúdo da tabela abaixo:
</h2>

<font size=3>
    <ol>
        <li>docker compose up -d</li>
        <li>docker compose ps</li>
    </ol>
</font>

<br>

<table>
    <tr>
        <th>NAME</th>
        <th>COMMAND</th>
        <th>SERVICE</th>
        <th>STATUS</th>
        <th>PORTS</th>
    </tr>
    <tr>
        <th>datanode</th>
        <th>"/entrypoint.sh /run…"</th>
        <th>datanode</th>
        <th>running (healthy)</th>
        <th>0.0.0.0:50075->50075/tcp, :::50075->50075/tcp</th>
    </tr>
    <tr>
        <th>docker-projeto-elasticsearch-1</th>
        <th>"/tini -- /usr/local…"</th>
        <th>elasticsearch</th>
        <th>running</th>
        <th>0.0.0.0:9200->9200/tcp, :::9200->9200/tcp, 9300/tcp</th>
    </tr>
    <tr>
        <th>docker-projeto-kibana-1</th>
        <th>"/usr/local/bin/dumb…"</th>
        <th>kibana</th>
        <th>running</th>
        <th>0.0.0.0:5601->5601/tcp, :::5601->5601/tcp</th>
    </tr>
    <tr>
        <th>docker-projeto-logstash-1</th>
        <th>"/usr/local/bin/dock…"</th>
        <th>logstash</th>
        <th>running</th>
        <th>0.0.0.0:5044->5044/tcp, :::5044->5044/tcp, 0.0.0.0:9600->9600/tcp, :::9600->9600/tcp</th>
    </tr>
    <tr>
        <th>hive-metastore-postgresql</th>
        <th>"/docker-entrypoint.…"</th>
        <th>hive-metastore-postgresql</th>
        <th>running</th>
        <th>5432/tcp</th>
    </tr>
    <tr>
        <th>hive-server</th>
        <th>"entrypoint.sh /bin/…"</th>
        <th>hive-server</th>
        <th>running</th>
        <th>0.0.0.0:10000->10000/tcp, :::10000->10000/tcp, 10002/tcp</th>
    </tr>
    <tr>
        <th>hive_metastore</th>
        <th>"entrypoint.sh /opt/…"</th>
        <th>hive-metastore</th>
        <th>running</th>
        <th>10000/tcp, 0.0.0.0:9083->9083/tcp, :::9083->9083/tcp, 10002/tcp</th>
    </tr>
    <tr>
        <th>jupyter-spark</th>
        <th>"/opt/docker/bin/ent…"</th>
        <th>jupyter-spark</th>
        <th>running</th>
        <th>0.0.0.0:4040-4043->4040-4043/tcp, :::4040-4043->4040-4043/tcp, 0.0.0.0:8889->8889/tcp, :::8889->8889/tcp, 8899/tcp</th>
    </tr>
    <tr>
        <th>kafka</th>
        <th>"start-kafka.sh"</th>
        <th>kafka</th>
        <th>running</th>
        <th>0.0.0.0:9092->9092/tcp, :::9092->9092/tcp</th>
    </tr>
    <tr>
        <th>kafkamanager</th>
        <th>"kafka-manager-2.0.0…"</th>
        <th>kamanager</th>
        <th>running</th>
        <th>0.0.0.0:9000->9000/tcp, :::9000->9000/tcp</th>
    </tr>
    <tr>
        <th>namenode</th>
        <th>"/entrypoint.sh /run…"</th>
        <th>namenode</th>
        <th>running (healthy)</th>
        <th>0.0.0.0:50071->50070/tcp, :::50071->50070/tcp</th>
    </tr>
    <tr>
        <th>zookeeper</th>
        <th>"/bin/sh -c '/usr/sb…"</th>
        <th>zookeeper</th>
        <th>running</th>
        <th>22/tcp, 2888/tcp, 3888/tcp, 0.0.0.0:2181->2181/tcp, :::2181->2181/tcp</th>
    </tr>
</table>

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Correção para problema do nó elasticsearch do cluster cair frequentemente.<br>
    &emsp; Após a execução o resultado na tela deve ser equivalente ao conteúdo da tabela acima.
</h2>
<font size=3>
    <ol>
        <li>docker compose down</li><br>
        <li>sudo sysctl -w vm.max_map_count=262144</li><br>
        <li>docker compose up -d</li>
        <li>docker compose ps</li>
    </ol>
</font>

<br>
<br>

<h2>
    Endereços para abrir no navegador web para verificar funcionamento do Jupyter-Notebook e Kibana (Elasticsearch), respectivamente:
</h2>
<font size=3>
    <ol>
        <li>localhost:8889</li>
        <li>localhost:5601</li><br>
        <li>Fazer upload do arquivo $<$Diretório-recursos-cluster$>$/Processing_Data_Covid_Brasil.ipynb no Jupyter-Notebook.</li>
    </ol>
</font>

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Copiar e verificar arquivo .jar para o nó do Spark para salvar arquivos parquet:
</h2>
<font size=3>
    <ol>
        <li>docker cp parquet-hadoop-bundle-1.6.0.jar jupyter-spark:/opt/spark/jars</li>
        <li>docker exec -it jupyter-spark bash</li>
        <li>ls opt/spark/jars/</li>
        <li>exit</li>
        <li>docker compose stop</li>
        <li>docker compose start</li>
        <li>docker compose ps</li>
    </ol>
</font>

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Copiar dados para processamento para diretório acessível pelo cluster Docker:
</h2>
<font size=3>
    <ol>
        <li>sudo cp -r data_covid_brasil_11_2022/ input/</li><br>
        <li>docker exec -it namenode bash</li>
        <li>ls input/</li>
        <li>ls input/data_covid_brasil_11_2022/</li>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Preparar estrutura de diretório para atividades do projeto:
</h2>

<h3>
    1 - Remover diretório raiz de usuário, caso exista no cluster:
</h3>

In [1]:
!hdfs dfs -rm -r /user/student
!hdfs dfs -ls /user

rm: `/user/student': No such file or directory
Found 1 items
drwxr-xr-x   - root supergroup          0 2022-12-05 19:38 /user/hive

<h3>
    2 - Consultar tabelas de Banco de Dados Hive possivelmente existentes:
</h3>

In [2]:
!hdfs dfs -ls /
!hdfs dfs -ls /user
!hdfs dfs -ls /user/hive

Found 2 items
drwxrwxr-x   - root supergroup          0 2022-12-05 19:39 /tmp
drwxr-xr-x   - root supergroup          0 2022-12-05 19:38 /user
Found 1 items
drwxr-xr-x   - root supergroup          0 2022-12-05 19:38 /user/hive
Found 1 items
drwxrwxr-x   - root supergroup          0 2022-12-05 19:38 /user/hive/warehouse

In [3]:
!hdfs dfs -ls /user/hive/warehouse

<h3>
    3 - Criar estrutura de dados necessária para o projeto:
</h3>

In [4]:
!hdfs dfs -mkdir /user/student
!hdfs dfs -ls /user

Found 2 items
drwxr-xr-x   - root supergroup          0 2022-12-05 19:38 /user/hive
drwxr-xr-x   - root supergroup          0 2022-12-05 19:49 /user/student

In [5]:
!hdfs dfs -mkdir /user/student/original_data
!hdfs dfs -ls /user/student

Found 1 items
drwxr-xr-x   - root supergroup          0 2022-12-05 19:49 /user/student/original_data

In [6]:
!hdfs dfs -mkdir /user/student/prepared_data
!hdfs dfs -ls /user/student

Found 2 items
drwxr-xr-x   - root supergroup          0 2022-12-05 19:49 /user/student/original_data
drwxr-xr-x   - root supergroup          0 2022-12-05 19:50 /user/student/prepared_data

In [7]:
!hdfs dfs -mkdir /user/student/result_data
!hdfs dfs -ls /user/student

Found 3 items
drwxr-xr-x   - root supergroup          0 2022-12-05 19:49 /user/student/original_data
drwxr-xr-x   - root supergroup          0 2022-12-05 19:50 /user/student/prepared_data
drwxr-xr-x   - root supergroup          0 2022-12-05 19:50 /user/student/result_data

In [8]:
!hdfs dfs -mkdir /user/student/hive_database
!hdfs dfs -ls /user/student

Found 4 items
drwxr-xr-x   - root supergroup          0 2022-12-05 19:50 /user/student/hive_database
drwxr-xr-x   - root supergroup          0 2022-12-05 19:49 /user/student/original_data
drwxr-xr-x   - root supergroup          0 2022-12-05 19:50 /user/student/prepared_data
drwxr-xr-x   - root supergroup          0 2022-12-05 19:50 /user/student/result_data

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Exercício 1 Nível Básico:<br>
    &emsp; Copiar dados para processamento para o HDFS e verificar a cópia:
</h2>
<font size=3>
    <ol>
        <li>docker exec -it namenode bash</li>
        <li>hdfs dfs -put /input/data_covid_brasil_11_2022/\*.csv /user/student/original_data</li>
        <li>hdfs dfs -ls /user/student/original_data</li>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Criar Banco de Dados Hive para inclusão das tabelas necessárias:
</h2>
<font size=3>
    <ol>
        <li>docker exec -it hive-server bash</li>
        <li>hive</li>
        <li>show databases;</li>
        <li>create database my_database location "/user/student/hive_database/";</li>
        <li>show databases;</li>
        <li>desc database my_database;</li>
        <li>use my_database;</li>
        <li>show tables;</li>
        <li>create table test(id int);</li>
        <li>show tables;</li>
        <li>drop table test;</li>
        <li>show tables;</li>
        <li>exit;</li>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Carregar elementos necessários.<br>
    &emsp; Ler e apresentar informações sobre os dados para processamento:
</h2>

<h3>
    1 - Importar os módulos necessários para o projeto:
</h3>

In [1]:
import pyspark.sql.functions as psf
import pyspark.sql.types as pst
import numpy as np

<h3>
    2 - Apresentar os dados da sessão Spark e do contexto Spark:
</h3>

In [10]:
spark

In [11]:
sc

<h3>
    3 - Listar os Bancos de Dados Hive, ajustar o Banco de Dados corrente e apresentar as suas tabelas:
</h3>

In [12]:
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri='hdfs://namenode:8020/user/hive/warehouse'),
 Database(name='my_database', description='', locationUri='hdfs://namenode:8020/user/student/hive_database')]

In [13]:
spark.catalog.setCurrentDatabase('my_database')
spark.catalog.currentDatabase()

'my_database'

In [14]:
spark.catalog.listTables()

[]

<h3>
    4 - Preparar e apresentra o schema para os dados a serem lidos:
</h3>

In [15]:
data_schema = [
    pst.StructField('regiao', pst.StringType()),
    pst.StructField('estado', pst.StringType()),
    pst.StructField('municipio', pst.StringType()),
    pst.StructField('coduf', pst.IntegerType()),
    pst.StructField('codmun', pst.IntegerType()),
    pst.StructField('codRegiaoSaude', pst.IntegerType()),
    pst.StructField('nomeRegiaoSaude', pst.StringType()),
    pst.StructField('data', pst.StringType()),
    pst.StructField('semanaEpi', pst.IntegerType()),
    pst.StructField('populacaoTCU2019', pst.IntegerType()),
    pst.StructField('casosAcumulado', pst.IntegerType()),
    pst.StructField('casosNovos', pst.IntegerType()),
    pst.StructField('obitosAcumulado', pst.IntegerType()),
    pst.StructField('obitosNovos', pst.IntegerType()),
    pst.StructField('Recuperadosnovos', pst.IntegerType()),
    pst.StructField('emAcompanhamentoNovos', pst.IntegerType()),
    pst.StructField('interior/metropolitana', pst.IntegerType()),
]
data_schema = pst.StructType(fields=data_schema)

print(data_schema)

StructType(List(StructField(regiao,StringType,true),StructField(estado,StringType,true),StructField(municipio,StringType,true),StructField(coduf,IntegerType,true),StructField(codmun,IntegerType,true),StructField(codRegiaoSaude,IntegerType,true),StructField(nomeRegiaoSaude,StringType,true),StructField(data,StringType,true),StructField(semanaEpi,IntegerType,true),StructField(populacaoTCU2019,IntegerType,true),StructField(casosAcumulado,IntegerType,true),StructField(casosNovos,IntegerType,true),StructField(obitosAcumulado,IntegerType,true),StructField(obitosNovos,IntegerType,true),StructField(Recuperadosnovos,IntegerType,true),StructField(emAcompanhamentoNovos,IntegerType,true),StructField(interior/metropolitana,IntegerType,true)))

<h3>
    5 - Ler os dados referente ao ano de infomação definido e apresentar informações da estrutura:
</h3>

In [16]:
year_analysis = 2022
data_path = 'hdfs:///user/student/original_data/HIST_PAINEL_COVIDBR_' + str(year_analysis) + '_Parte*.csv'

data_table = spark.read.csv(path=data_path, header=True, sep=';', schema=data_schema)

In [17]:
print('Type of Read Data:')
print(type(data_table))

print('Schema of Read Data:')
print(data_table.printSchema())

print('Columns of Read Data:')
print(data_table.columns)

print('Total of Samples in Read Data:')
print(data_table.count())

print('First Sample of Read Data:')
print(data_table.first())

Type of Read Data:
<class 'pyspark.sql.dataframe.DataFrame'>
Schema of Read Data:
root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- municipio: string (nullable = true)
 |-- coduf: integer (nullable = true)
 |-- codmun: integer (nullable = true)
 |-- codRegiaoSaude: integer (nullable = true)
 |-- nomeRegiaoSaude: string (nullable = true)
 |-- data: string (nullable = true)
 |-- semanaEpi: integer (nullable = true)
 |-- populacaoTCU2019: integer (nullable = true)
 |-- casosAcumulado: integer (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- obitosAcumulado: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- Recuperadosnovos: integer (nullable = true)
 |-- emAcompanhamentoNovos: integer (nullable = true)
 |-- interior/metropolitana: integer (nullable = true)

None
Columns of Read Data:
['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude', 'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019', 'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos', 'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana']
Total of Samples in Read Data:
1871127
First Sample of Read Data:
Row(regiao='Brasil', estado=None, municipio=None, coduf=76, codmun=None, codRegiaoSaude=None, nomeRegiaoSaude=None, data='2022-01-01', semanaEpi=52, populacaoTCU2019=210147125, casosAcumulado=22291507, casosNovos=3986, obitosAcumulado=619105, obitosNovos=49, Recuperadosnovos=21581668, emAcompanhamentoNovos=90734, interior/metropolitana=None)

<h3>
    6 - Alterar nome de coluna dos dados por conta de caracter especial "/" na estrutura original:
</h3>

In [18]:
data_table = data_table.withColumn(colName='interiorMetropolitana', col=psf.col('interior/metropolitana'))
data_table = data_table.drop(psf.col('interior/metropolitana'))

data_table.first()

Row(regiao='Brasil', estado=None, municipio=None, coduf=76, codmun=None, codRegiaoSaude=None, nomeRegiaoSaude=None, data='2022-01-01', semanaEpi=52, populacaoTCU2019=210147125, casosAcumulado=22291507, casosNovos=3986, obitosAcumulado=619105, obitosNovos=49, Recuperadosnovos=21581668, emAcompanhamentoNovos=90734, interiorMetropolitana=None)

<h3>
    7 - Alterar formato dos dados de coluna referente a data:
</h3>

In [19]:
print(data_table.select('data').first())

data_table = data_table.withColumn(colName='new_data', col=psf.unix_timestamp(timestamp='data', format='yyyy-MM-dd'))
data_table = data_table.withColumn(colName='new_data', col=psf.from_unixtime(timestamp='new_data', format='dd/MM/yyyy'))
data_table = data_table.withColumn(colName='data', col=psf.col('new_data'))
data_table = data_table.drop(psf.col('new_data'))

print(data_table.select('data').first())

data_table.first()

Row(data='2022-01-01')
Row(data='01/01/2022')

Row(regiao='Brasil', estado=None, municipio=None, coduf=76, codmun=None, codRegiaoSaude=None, nomeRegiaoSaude=None, data='01/01/2022', semanaEpi=52, populacaoTCU2019=210147125, casosAcumulado=22291507, casosNovos=3986, obitosAcumulado=619105, obitosNovos=49, Recuperadosnovos=21581668, emAcompanhamentoNovos=90734, interiorMetropolitana=None)

<h3>
    8 - Exercício 2 Nível Básico:<br>
    &emsp; Salvar dados como tabela Hive particionada por municípios:
</h3>

In [20]:
data_table.write.saveAsTable(name='exercicio_2_basico', partitionBy='municipio', format='csv', mode='overwrite')

<h3>
    9 - Listar tabelas no Banco de Dados Hive após salvar dados:
</h3>

In [21]:
spark.catalog.listTables()

[Table(name='exercicio_2_basico', database='my_database', description=None, tableType='MANAGED', isTemporary=False)]

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Consultar no HDFS os dados salvos em tabela do Banco de Dados Hive: 
</h2>
<font size=3>
    <ol>
        <li>docker exec -it namenode bash</li>
        <li>hdfs dfs -ls /user/student/hive_database</li>
        <li>hdfs dfs -ls /user/student/hive_database/exercicio_2_basico</li>
        <li>hdfs dfs -ls /user/student/hive_database/exercicio_2_basico/municipio=S?o\ Paulo</li>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Identificar e tratar os valores nulos entre os dados:
</h2>

<h3>
    1 - Identificar a apresentar as colunas que contém valores nulos:
</h3>

In [22]:
print("Total of Null Values by Column:")

columns_null_values = []
for i, c in enumerate(data_table.columns):
    value = data_table.filter(condition=data_table[c].isNull()).count()
    if value > 0:
        columns_null_values.append(c)
    print(str(i + 1) + ') ' + c + ': ' + str(value))

print('\n')
print('Columns With Null Values:')
print(columns_null_values)
print('Total of Columns With Null Values:')
print(len(columns_null_values))

Total of Null Values by Column:
1) regiao: 0
2) estado: 333
3) municipio: 16317
4) coduf: 0
5) codmun: 9324
6) codRegiaoSaude: 16317
7) nomeRegiaoSaude: 16317
8) data: 0
9) semanaEpi: 0
10) populacaoTCU2019: 6993
11) casosAcumulado: 1
12) casosNovos: 0
13) obitosAcumulado: 0
14) obitosNovos: 0
15) Recuperadosnovos: 1870795
16) emAcompanhamentoNovos: 1870795
17) interiorMetropolitana: 16317


Columns With Null Values:
['estado', 'municipio', 'codmun', 'codRegiaoSaude', 'nomeRegiaoSaude', 'populacaoTCU2019', 'casosAcumulado', 'Recuperadosnovos', 'emAcompanhamentoNovos', 'interiorMetropolitana']
Total of Columns With Null Values:
10

<h3>
    2 - Identificar e apresentar os tipo de dados de todas as colunas do conjunto de dados:
</h3>

In [23]:
columns_type = {}
for c in data_table.dtypes:
    columns_type[c[0]] = c[1]

print('Data Type of Columns:')
columns_type

Data Type of Columns:

{'regiao': 'string',
 'estado': 'string',
 'municipio': 'string',
 'coduf': 'int',
 'codmun': 'int',
 'codRegiaoSaude': 'int',
 'nomeRegiaoSaude': 'string',
 'data': 'string',
 'semanaEpi': 'int',
 'populacaoTCU2019': 'int',
 'casosAcumulado': 'int',
 'casosNovos': 'int',
 'obitosAcumulado': 'int',
 'obitosNovos': 'int',
 'Recuperadosnovos': 'int',
 'emAcompanhamentoNovos': 'int',
 'interiorMetropolitana': 'int'}

<h3>
    3 - Identificar/Separar e apresentar as colunas com valores nulos de acordo com o tipo:
</h3>

In [24]:
string_columns_null = []
int_columns_null = []
for c in columns_null_values:
    if columns_type[c] == 'string':
        string_columns_null.append(c)
    elif columns_type[c] == 'int':
        int_columns_null.append(c)

print('String Columns With Null Values:')
print(string_columns_null)
print('Integer Columns With Null Values:')
print(int_columns_null)

String Columns With Null Values:
['estado', 'municipio', 'nomeRegiaoSaude']
Integer Columns With Null Values:
['codmun', 'codRegiaoSaude', 'populacaoTCU2019', 'casosAcumulado', 'Recuperadosnovos', 'emAcompanhamentoNovos', 'interiorMetropolitana']

<h3>
    4 - Apresentar o total de valores distintos e nulos em cada coluna que contém valores nulos:
</h3>

In [25]:
for i, c in enumerate(columns_null_values):
    temp_values = data_table.select(c).distinct().collect()
    values = []
    for temp_value in temp_values:
        value = temp_value.asDict()[c]
        values.append(value)
    if None in values:
        text = str(i + 1) + ') ' + c + ':\n'
        text += '\t Total of Values: ' + str(len(values)) + '\n'
        total_null = len(np.where(np.array(values).astype(str) == 'None')[0])
        text += '\t Not Null Values: ' + str(len(values) - total_null) + '\n'
        text += '\t Null Values....: ' + str(total_null)
        print(text)

1) estado:
	 Total of Values: 28
	 Not Null Values: 27
	 Null Values....: 1
2) municipio:
	 Total of Values: 5298
	 Not Null Values: 5297
	 Null Values....: 1
3) codmun:
	 Total of Values: 5592
	 Not Null Values: 5591
	 Null Values....: 1
4) codRegiaoSaude:
	 Total of Values: 451
	 Not Null Values: 450
	 Null Values....: 1
5) nomeRegiaoSaude:
	 Total of Values: 441
	 Not Null Values: 440
	 Null Values....: 1
6) populacaoTCU2019:
	 Total of Values: 5105
	 Not Null Values: 5104
	 Null Values....: 1
7) casosAcumulado:
	 Total of Values: 68086
	 Not Null Values: 68085
	 Null Values....: 1
8) Recuperadosnovos:
	 Total of Values: 333
	 Not Null Values: 332
	 Null Values....: 1
9) emAcompanhamentoNovos:
	 Total of Values: 333
	 Not Null Values: 332
	 Null Values....: 1
10) interiorMetropolitana:
	 Total of Values: 3
	 Not Null Values: 2
	 Null Values....: 1

<h3>
    5 - Identificar e apresentar se colunas com valores nulos possuem valores pretendidos para substituição:
</h3>

In [26]:
for c in columns_null_values:
    temp_values = data_table.select(c).distinct().collect()
    values = []
    for temp_value in temp_values:
        value = temp_value.asDict()[c]
        values.append(value)
    if None in values:
        values.remove(None)
    if columns_type[c] == 'string':
        if not ('NullValue' in values):
            print("NullValue not in " + c)
    elif columns_type[c] == 'int':
        if not ((-1) in values):
            print("-1 not in " + c)

NullValue not in estado
NullValue not in municipio
-1 not in codmun
-1 not in codRegiaoSaude
NullValue not in nomeRegiaoSaude
-1 not in populacaoTCU2019
-1 not in casosAcumulado
-1 not in Recuperadosnovos
-1 not in emAcompanhamentoNovos
-1 not in interiorMetropolitana

<h3>
    6 - Substituir valores nulos de acordo com o tipo de dado das colunas e apresentar dado resultante:
</h3>

In [27]:
data_table = data_table.na.fill(subset=string_columns_null, value='NullValue')
data_table = data_table.na.fill(subset=int_columns_null, value=-1)

data_table.first()

Row(regiao='Brasil', estado='NullValue', municipio='NullValue', coduf=76, codmun=-1, codRegiaoSaude=-1, nomeRegiaoSaude='NullValue', data='01/01/2022', semanaEpi=52, populacaoTCU2019=210147125, casosAcumulado=22291507, casosNovos=3986, obitosAcumulado=619105, obitosNovos=49, Recuperadosnovos=21581668, emAcompanhamentoNovos=90734, interiorMetropolitana=-1)

<h3>
    7 - Salvar os dados após ajuste de colunas e tratamento dos valores nulos:
</h3>

In [28]:
data_table.write.csv(path='hdfs:///user/student/prepared_data/data_changed_columns_without_null_values', header=True, sep=';', mode='overwrite')

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Consultar dados preparados salvos no HDFS:
</h2>
<font size=3>
    <ol>
        <li>docker exec -it namenode bash</li>
        <li>hdfs dfs -ls /user/student/prepared_data</li>
        <li>hdfs dfs -ls /user/student/prepared_data/data_changed_columns_without_null_values</li>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Ler os dados preparados salvos no HDFS para processamento:
</h2>

<h3>
    1 - Preparar e apresentar o schema dos dados a serem lidos:
</h3>

In [2]:
data_schema = [
    pst.StructField('regiao', pst.StringType()),
    pst.StructField('estado', pst.StringType()),
    pst.StructField('municipio', pst.StringType()),
    pst.StructField('coduf', pst.IntegerType()),
    pst.StructField('codmun', pst.IntegerType()),
    pst.StructField('codRegiaoSaude', pst.IntegerType()),
    pst.StructField('nomeRegiaoSaude', pst.StringType()),
    pst.StructField('data', pst.StringType()),
    pst.StructField('semanaEpi', pst.IntegerType()),
    pst.StructField('populacaoTCU2019', pst.IntegerType()),
    pst.StructField('casosAcumulado', pst.IntegerType()),
    pst.StructField('casosNovos', pst.IntegerType()),
    pst.StructField('obitosAcumulado', pst.IntegerType()),
    pst.StructField('obitosNovos', pst.IntegerType()),
    pst.StructField('Recuperadosnovos', pst.IntegerType()),
    pst.StructField('emAcompanhamentoNovos', pst.IntegerType()),
    pst.StructField('interiorMetropolitana', pst.IntegerType()),
]
data_schema = pst.StructType(fields=data_schema)

print(data_schema)

StructType(List(StructField(regiao,StringType,true),StructField(estado,StringType,true),StructField(municipio,StringType,true),StructField(coduf,IntegerType,true),StructField(codmun,IntegerType,true),StructField(codRegiaoSaude,IntegerType,true),StructField(nomeRegiaoSaude,StringType,true),StructField(data,StringType,true),StructField(semanaEpi,IntegerType,true),StructField(populacaoTCU2019,IntegerType,true),StructField(casosAcumulado,IntegerType,true),StructField(casosNovos,IntegerType,true),StructField(obitosAcumulado,IntegerType,true),StructField(obitosNovos,IntegerType,true),StructField(Recuperadosnovos,IntegerType,true),StructField(emAcompanhamentoNovos,IntegerType,true),StructField(interiorMetropolitana,IntegerType,true)))

<h3>
    2 - Ler e os dados para processamento e apresentar informações da estrutura:
</h3>

In [3]:
data_path = 'hdfs:///user/student/prepared_data/data_changed_columns_without_null_values/'

data_table = spark.read.csv(path=data_path, header=True, sep=';', schema=data_schema)

data_table.first()

Row(regiao='Brasil', estado='NullValue', municipio='NullValue', coduf=76, codmun=-1, codRegiaoSaude=-1, nomeRegiaoSaude='NullValue', data='01/01/2022', semanaEpi=52, populacaoTCU2019=210147125, casosAcumulado=22291507, casosNovos=3986, obitosAcumulado=619105, obitosNovos=49, Recuperadosnovos=21581668, emAcompanhamentoNovos=90734, interiorMetropolitana=-1)

In [31]:
print('Type of Saved Prepapred Data:')
print(type(data_table))

print('Schema of Saved Prepapred Data:')
print(data_table.printSchema())

print('Columns of Saved Prepapred Data:')
print(data_table.columns)

print('Total of Samples in Saved Prepapred Data:')
print(data_table.count())

print('First Sample of Saved Prepapred Data:')
print(data_table.first())

Type of Saved Prepapred Data:
<class 'pyspark.sql.dataframe.DataFrame'>
Schema of Saved Prepapred Data:
root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- municipio: string (nullable = true)
 |-- coduf: integer (nullable = true)
 |-- codmun: integer (nullable = true)
 |-- codRegiaoSaude: integer (nullable = true)
 |-- nomeRegiaoSaude: string (nullable = true)
 |-- data: string (nullable = true)
 |-- semanaEpi: integer (nullable = true)
 |-- populacaoTCU2019: integer (nullable = true)
 |-- casosAcumulado: integer (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- obitosAcumulado: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- Recuperadosnovos: integer (nullable = true)
 |-- emAcompanhamentoNovos: integer (nullable = true)
 |-- interiorMetropolitana: integer (nullable = true)

None
Columns of Saved Prepapred Data:
['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude', 'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019', 'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos', 'Recuperadosnovos', 'emAcompanhamentoNovos', 'interiorMetropolitana']
Total of Samples in Saved Prepapred Data:
1871127
First Sample of Saved Prepapred Data:
Row(regiao='Brasil', estado='NullValue', municipio='NullValue', coduf=76, codmun=-1, codRegiaoSaude=-1, nomeRegiaoSaude='NullValue', data='01/01/2022', semanaEpi=52, populacaoTCU2019=210147125, casosAcumulado=22291507, casosNovos=3986, obitosAcumulado=619105, obitosNovos=49, Recuperadosnovos=21581668, emAcompanhamentoNovos=90734, interiorMetropolitana=-1)

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Parte Exercício 3 e Exercício 4 Nível Básico:
</h2>

<h3>
    1 - Ler os dados para visualização 1 do Exercício 3 Nível Básico, aplicando filtros necessários:
</h3>

In [32]:
temp_data = data_table.where(condition=(psf.col('regiao') == 'Brasil') & (psf.col('Recuperadosnovos') > -1) & (psf.col('emAcompanhamentoNovos') > -1))\
                        .select(psf.col('Recuperadosnovos'), psf.col('emAcompanhamentoNovos'))

temp_data.first()

Row(Recuperadosnovos=21581668, emAcompanhamentoNovos=90734)

<h3>
    2 - Preparar e apresentar schema dos dados da visualização 1:
</h3>

In [33]:
temp_data_schema = []
for c in temp_data.columns:
    temp_data_schema.append(pst.StructField(name=c, dataType=pst.IntegerType()))
temp_data_schema = pst.StructType(fields=temp_data_schema)

print(temp_data_schema)

StructType(List(StructField(Recuperadosnovos,IntegerType,true),StructField(emAcompanhamentoNovos,IntegerType,true)))

<h3>
    3 - Criar um novo DataFrame com os dados para a visualização:<br>
    &emsp; Parte Exercício 3 Nível Básico (Visualização 1):
</h3>

In [34]:
temp_data = [temp_data.collect()[-1]]
temp_data = spark.createDataFrame(data=temp_data, schema=temp_data_schema)

temp_data.first()

Row(Recuperadosnovos=34235867, emAcompanhamentoNovos=302067)

<h3>
    4 - Salvar os dados da Visualização 1 como tabela em Banco de Dados Hive:<br>
    &emsp; Exercício 4 Nível Básico:
</h3>

In [35]:
temp_data.write.saveAsTable(name='exercicio_3_basico_visualizacao_1', format='parquet', mode='overwrite')

<h3>
    5 - Consultar a tabela em Banco de Dados Hive após salvar os dados:
</h3>

In [36]:
spark.catalog.listTables()

[Table(name='exercicio_2_basico', database='my_database', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='exercicio_3_basico_visualizacao_1', database='my_database', description=None, tableType='MANAGED', isTemporary=False)]

In [37]:
spark.sql('SELECT * FROM exercicio_3_basico_visualizacao_1').collect()

[Row(Recuperadosnovos=34235867, emAcompanhamentoNovos=302067)]

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Parte Exercício 3 e Exercício 5 Nível Básico:
</h2>

<h3>
    1 - Ler os dados para a visualização 2 do Exercício 3 Nível Básico aplicando o filtro necessário:
</h3>

In [38]:
temp_data = data_table.where(condition=(psf.col('regiao') == 'Brasil') & (psf.col('casosAcumulado') > -1) & (psf.col('casosNovos') > -1) & (psf.col('populacaoTCU2019') > -1))\
                        .select(psf.col('casosAcumulado'), psf.col('casosNovos'), psf.col('populacaoTCU2019'))

temp_data.first()

Row(casosAcumulado=22291507, casosNovos=3986, populacaoTCU2019=210147125)

<h3>
    2 - Incluir nova coluna entre os dados de acordo com a visualização 2 e alterar o seu tipo de dado:
</h3>

In [39]:
temp_data = temp_data.withColumn(colName='incidencia', col=(psf.col('casosAcumulado').cast('float')/psf.col('populacaoTCU2019').cast('float'))*100000.0)
temp_data = temp_data.withColumn(colName='incidencia', col=psf.col('incidencia').cast('float'))

temp_data.first()

Row(casosAcumulado=22291507, casosNovos=3986, populacaoTCU2019=210147125, incidencia=10607.572265625)

<h3>
    3 - Preparar e apresentar o schema dos dados da visualização 2:
</h3>

In [40]:
temp_data_schema = []
for c in temp_data.columns[0:3]:
    temp_data_schema.append(pst.StructField(name=c, dataType=pst.IntegerType()))
temp_data_schema.append(pst.StructField(name='incidencia', dataType=pst.FloatType()))
temp_data_schema = pst.StructType(fields=temp_data_schema)

print(temp_data_schema)

StructType(List(StructField(casosAcumulado,IntegerType,true),StructField(casosNovos,IntegerType,true),StructField(populacaoTCU2019,IntegerType,true),StructField(incidencia,FloatType,true)))

<h3>
    4 - Criar um novo DataFrame com os dados para a visualização:<br>
    &emsp; Parte Exercício 3 Nível Básico (Visualização 2):
</h3>

In [41]:
temp_data = [temp_data.collect()[-1]]
temp_data = spark.createDataFrame(data=temp_data, schema=temp_data_schema)

temp_data = temp_data.select(psf.col('casosAcumulado'), psf.col('casosNovos'), psf.col('incidencia'))

temp_data.first()

Row(casosAcumulado=35227599, casosNovos=39013, incidencia=16763.3046875)

<h3>
    5 - Salvar os dados como arquivo parquet e compressão snappy:<br>
    &emsp; Exercício 5 Nível Básico:
</h3>

In [42]:
temp_data.write.parquet(path='hdfs:///user/student/result_data/exercicio_3_basico_visualizacao_2', compression='snappy', mode='overwrite')

<h3>
    6 - Ler e apresentar os dados após salvar:
</h3>

In [43]:
temp_data = spark.read.parquet('hdfs:///user/student/result_data/exercicio_3_basico_visualizacao_2')

temp_data.first()

Row(casosAcumulado=35227599, casosNovos=39013, incidencia=16763.3046875)

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Consultar os dados salvos no HDFS:
</h2>
<font size=3>
    <ol>
        <li>docker exec -it namenode bash</li>
        <li>hdfs dfs -ls /user/student/result_data</li>
        <li>hdfs dfs -ls /user/student/result_data/exercicio_3_basico_visualizacao_2</li>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Parte Exercício 3 e Exercício 6 Nivel Básico:
</h2>

<h3>
    1 - Ler os dados para a visualização 3 do Exercício 3 Nível Básico aplicando o filtro necessário: 
</h3>

In [44]:
temp_data = data_table.where(condition=(psf.col('regiao') == 'Brasil') & (psf.col('casosAcumulado') > -1) & (psf.col('obitosAcumulado') > -1) & (psf.col('obitosNovos') > -1) & (psf.col('populacaoTCU2019') > -1))\
                        .select(psf.col('casosAcumulado'), psf.col('obitosAcumulado'), psf.col('obitosNovos'), psf.col('populacaoTCU2019'))

temp_data.first()

Row(casosAcumulado=22291507, obitosAcumulado=619105, obitosNovos=49, populacaoTCU2019=210147125)

<h3>
    2 - Incluir novas colunas entre os dados de acordo com a visualização 3:
</3>

In [45]:
temp_data = temp_data.withColumn(colName='letalidade', col=(psf.col('obitosAcumulado').cast('float')/psf.col('casosAcumulado').cast('float'))*100.0)
temp_data = temp_data.withColumn(colName='letalidade', col=psf.col('letalidade').cast('float'))

temp_data = temp_data.withColumn(colName='mortalidade', col=(psf.col('obitosAcumulado').cast('float')/psf.col('populacaoTCU2019').cast('float'))*100000.0)
temp_data = temp_data.withColumn(colName='mortalidade', col=psf.col('mortalidade').cast('float'))

temp_data.first()

Row(casosAcumulado=22291507, obitosAcumulado=619105, obitosNovos=49, populacaoTCU2019=210147125, letalidade=2.777313232421875, mortalidade=294.6054992675781)

<h3>
    3 - Preparar e apresentar o schema dos dados da visualização 3: 
</h3>

In [46]:
temp_data_schema = []
for c in temp_data.columns[0:4]:
    temp_data_schema.append(pst.StructField(name=c, dataType=pst.IntegerType()))
temp_data_schema.append(pst.StructField(name='letalidade', dataType=pst.FloatType()))
temp_data_schema.append(pst.StructField(name='mortalidade', dataType=pst.FloatType()))
temp_data_schema = pst.StructType(fields=temp_data_schema)

print(temp_data_schema)

StructType(List(StructField(casosAcumulado,IntegerType,true),StructField(obitosAcumulado,IntegerType,true),StructField(obitosNovos,IntegerType,true),StructField(populacaoTCU2019,IntegerType,true),StructField(letalidade,FloatType,true),StructField(mortalidade,FloatType,true)))

<h3>
    4 - Criar um novo DataFrame com os dados para a visualização:<br>
    &emsp; Parte Exercício 3 Nível Básico (Visualização 3):
</h3>

In [47]:
temp_data = [temp_data.collect()[-1]]
temp_data = spark.createDataFrame(data=temp_data, schema=temp_data_schema)

temp_data = temp_data.select(psf.col('obitosAcumulado'), psf.col('obitosNovos'), psf.format_number(col=psf.col('letalidade'), d=2).alias('letalidade'), psf.format_number(col=psf.col('mortalidade'), d=2).alias('mortalidade'))

temp_data.first()

Row(obitosAcumulado=689665, obitosNovos=129, letalidade='1.96', mortalidade='328.18')

<h3>
    5 - Incluir coluna value para enviar dados para tópico Kafka:
</h3>

In [48]:
temp_data = temp_data.withColumn(colName='value', col=psf.concat(psf.col('obitosAcumulado'), psf.lit(' - '), psf.col('obitosNovos'), psf.lit(' - '), psf.col('letalidade'), psf.lit(' - '), psf.col('mortalidade')))

temp_data.first()

Row(obitosAcumulado=689665, obitosNovos=129, letalidade='1.96', mortalidade='328.18', value='689665 - 129 - 1.96 - 328.18')

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Criar tópico Kafka para envio dos dados:
</h2>
<font size=3>
    <ol>
        <li>docker exec -it kafka bash</li>
        <li>kafka-topics.sh --bootstrap-server localhost:9092 --topic exerc_3_basico_vis_3 --create --partitions 1 --replication-factor 1</li>
        <li>kafka-topics.sh --bootstrap-server localhost:9092 --list</li>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Exercício 6 Nível Básico:
</h2>

<h3>
    1 - Salvar os dados em um tópico do Kafka:<br>
</h3>

In [49]:
temp_data.write.format('kafka').option('kafka.bootstrap.servers', 'kafka:9092').option('topic', 'exerc_3_basico_vis_3').save()

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Criar consumidor Kafka para ler o tópico com os dados enviados:
</h2>
<font size=3>
    <ol>
        <li>docker exec -it kafka bash</li>
        <li>kafka-console-consumer.sh --bootstrap-server localhost:9092 --topic exerc_3_basico_vis_3 --from-beginning</li><br>
        <li>Pressionar $<$Ctrl$>$+C</li><br>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:<br>
    &emsp; Exercício 8 Nível Básico:
</h2>

<h3>
    1 - Ler os dados para a visualização aplicando o filtro necessário: 
</h3>

In [4]:
temp_data = data_table.where(condition=(psf.col('casosAcumulado') > -1) & (psf.col('obitosAcumulado') > -1) & (psf.col('populacaoTCU2019') > -1) & (psf.col('data') != 'NullValue'))\
                        .select(psf.col('regiao'), psf.col('casosAcumulado'), psf.col('obitosAcumulado'), psf.col('populacaoTCU2019'), psf.col('data'))

In [5]:
temp_data = temp_data.groupBy('regiao')\
                        .agg(psf.max(psf.col('casosAcumulado')).alias('casos'), psf.max(psf.col('obitosAcumulado')).alias('obitos'), psf.max(psf.col('populacaoTCU2019')).alias('populacao'), psf.last(psf.col('data')).alias('data'))

temp_data.first()

Row(regiao='Nordeste', casos=1717792, obitos=30844, populacao=14873064, data='29/11/2022')

<h3>
    2 - Incluir novas colunas entre os dados de acordo com a visualização:
</h3>

In [6]:
temp_data = temp_data.withColumn(colName='incidencia', col=(psf.col('casos').cast('float')/psf.col('populacao').cast('float'))*100000.0)
temp_data = temp_data.withColumn(colName='incidencia', col=psf.col('incidencia').cast('float'))

temp_data = temp_data.withColumn(colName='mortalidade', col=(psf.col('obitos').cast('float')/psf.col('populacao').cast('float'))*100000.0)
temp_data = temp_data.withColumn(colName='mortalidade', col=psf.col('mortalidade').cast('float'))

temp_data.collect()

[Row(regiao='Nordeste', casos=1717792, obitos=30844, populacao=14873064, data='29/11/2022', incidencia=11549.6845703125, mortalidade=207.38160705566406),
 Row(regiao='Sul', casos=2775035, obitos=45501, populacao=11433957, data='29/11/2022', incidencia=24270.119140625, mortalidade=397.94622802734375),
 Row(regiao='Sudeste', casos=6190288, obitos=176199, populacao=45919049, data='29/11/2022', incidencia=13480.8720703125, mortalidade=383.7165832519531),
 Row(regiao='Centro-Oeste', casos=1743272, obitos=27628, populacao=7018354, data='30/06/2022', incidencia=24838.7578125, mortalidade=393.653564453125),
 Row(regiao='Brasil', casos=35227599, obitos=689665, populacao=210147125, data='29/11/2022', incidencia=16763.3046875, mortalidade=328.1819763183594),
 Row(regiao='Norte', casos=851524, obitos=18918, populacao=8602865, data='29/11/2022', incidencia=9898.14453125, mortalidade=219.9034881591797)]

<h3>
    3 - Salvar os dados da visualização no HDFS (Após erros em tentativas de enviar para Elasticsearch):
</h3>

In [7]:
temp_data.write.csv(path='hdfs://namenode:8020/user/student/result_data/exercicio_8_data', sep=';', header=True, mode='overwrite')

<br>
<br>

<h2>
    Comandos de Terminal:<br>
    &emsp; Verificar dados salvos no HDFS:
</h2>
<font size=3>
    <ol>
        <li>docker exec -it namenode bash</li>
        <li>hdfs dfs -ls /user/student/result_data</li>
        <li>hdfs dfs -ls /user/student/result_data/exercicio_8_data</li>
        <li>exit</li>
    </ol>
</font>

<br>
<br>

<h2>
    Tentativa que funcionou para enviar os dados da visualização para o Elasticsearch:
</h2>
<h3>
    Sequência de comandos para execução no Jupyter-Notebook, elaborados após tentativas sem sucesso de enviar direto para o Elasticsearch.
</h3>
<h3>
    Os dados deverão ser incluídos em Índice do Elasticsearch através de importação do arquivo exercicio_8_data.csv (diretório $<$diretório-recursos-cluster-docker-projeto$>$/data/notebooks/) na interface Kibana.
</h3>

In [8]:
import pandas as pd

pandas_df = []
for i, doc in enumerate(temp_data.collect()):
    temp_doc = doc.asDict()
    pandas_df.append(temp_doc)
pandas_df = pd.DataFrame(pandas_df)

pandas_df.to_csv('exercicio_8_data.csv', index=False, sep=';')
del pandas_df

<br>
<br>
<br>

<h2>
    Tentativa 1 sem sucesso para enviar direto para o Elasticsearch:
</h2>

<h2>
    Comandos de Terminal:
</h2>
<font size=3>
    <ol>
        <li>docker cp elasticsearch-spark-20_2.11-5.3.1.jar jupyter-spark:/opt/spark/jars</li><br>
        <li>docker exec -it jupyter-spark bash</li>
        <li>ls opt/spark/jars/</li>
        <li>exit</li><br>
        <li>docker compose stop</li>
        <li>docker compose start</li>
        <li>docker compose ps</li>
    </ol>
</font>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:
</h2>

In [ ]:
temp_data.write.format('es').option('es.nodes', 'https://docker-projeto-elasticsearch-1:9200/').option('es.resource', 'exercicio_8_basico_index').save()

<br>
<br>
<br>

<h2>
    Tentativa 2 sem sucesso para enviar direto para o Elasticsearch:
</h2>

<h2>
    Sequência de comandos para execução no Jupyter-Notebook:
</h2>

In [ ]:
#https://www.elastic.co/guide/en/elasticsearch/client/python-api/master/examples.html

#Atualização de módulo após ocorrência de erros de requisitos do módulo elasticsearch.
!pip install --upgrade requests
!pip uninstall urllib3 --yes
!pip install urllib3

#Instalação de módulo para integração com Elasticsearch.
!pip install elasticsearch



import elasticsearch as els

es = els.Elasticsearch('https://docker-projeto-elasticsearch-1:9200/')

for i, doc in enumerate(temp_data.collect()):
    resul = es.index(index='exercicio_8_basico_index', id=i+1, document=doc.asDict())